<h1>Увага!!!</h1>

<p>В Києві спостерігаються екстримальні погодні умови. Бережіть себе та близьких!</p>
<br>
<p>Температура: <%= @temperature %> °C</p>
<p>Швидкість вітру: <%= @wind_speed %> м/с</p>
<p>Видимість: <%= @visibility %> м</p>
<p>Вологість: <%= @humidity %>%</p>
<p>Хмарність: <%= @humidity %>%</p>
<br>
<p>
  Відписатись від розсилки:
  <%= link_to "Unsubscribe", unsubscribe_user_url(@user, token: @user.token) %>
</p>
